<highchart id="chart1" config="chartConfig" class="span10"></highchart>
<section id="selectedStocks" ng-show="stocks.length" layout="column" layout-align="center center" class="md-margin">
  <p>Changes are synced across clients in real time</p>
  <div layout="row">
    <md-button class="md-accent md-raised" ng-repeat="stock in stocks" ng-click="deleteStock(stock)">{{ stock.symbol }} <md-icon>close</md-icon></md-button>
  </div>
</section>

<section layout="column" layout-align="center center" class="md-padding">
  <form class="stock-form">
    <div layout="row">
    <md-input-container >
      <label>Stock symbol</label>
      <input ng-model="newStock">
    </md-input-container>
    <md-button type="submit" class="" ng-click="addStock()"><md-icon>trending_up</md-icon>Add New</md-button>
  </div>
  </form>
  <md-progress-linear ng-show="pending" md-mode="indeterminate"></md-progress-linear>
  <p>FCC Stock Ticker |
    <a href="https://twitter.com/matteverson">@matteverson</a>
  </p>
</section>
